body {
  background-color: #ffe6e6;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}
div {
  width: 350px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  margin: auto;
}

#button-group {
    width: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    border: none;
    box-shadow: none;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.1);
}

#hasil {
    margin-top: 20px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
  color: #4b054b;
}

#btnMau{
    display: none;
    margin: auto;
    background-color: #ffb3c6;
}

#btnTidak{
    display: none;
    margin: auto;
    background-color: #eee;
    color: #333;
}
